{% load static %}
{% load i18n %}

<!-- Bannière de cookies -->
<div class="cookie-banner" id="cookieBanner">
    <div class="cookie-content">
        <div class="cookie-icon">
            <img src="{% static 'image/cookie_icon.png' %}" alt="Icône Cookie">
        </div>
        <h1 class="cookies-title text-center" style="color: #f1c40f;">BEFIT utilise des cookies</h1>
        <p>
            Ce site web utilise des cookies pour améliorer votre expérience utilisateur. 
                            <p>Nous les traitons pour :</p>
                            <div class="cookie-usage">
                                <div class="cookie-item"> La communication électronique et l'affichage du site web</div>
                                <div class="cookie-item"> La poursuite de la conception</div>
                                <div class="cookie-item"> La mesure et l'analyse de votre utilisation</div>
                                <div class="cookie-item"> L'affichage de contenus et de publicités adaptés</div>
                            </div>
                            <br>
            Vous pouvez choisir d'accepter ou de refuser l'utilisation de cookies (à l'exception des cookies essentiels) pour chaque catégorie. 
            Refuser certaines catégories de cookies peut avoir un impact sur votre expérience utilisateur. Le bouton "Préférences" vous permet de définir vos préférences maintenant ou plus tard.
        </p>
        <p>
            Pour plus d'informations, consultez notre <a href="{% url 'cookies' %}">Politique de Cookies</a>.
        </p>
        <div class="cookie-buttons">
            <button class="btn-cookie btn-accept" id="acceptCookies">Accepter tous</button>
            <!-- Redirection vers la page preferences.html -->
            <a href="{% url 'cookie_preferences' %}" class="btn-cookie btn-lol">Préférences</a>
            <button class="btn-cookie btn-decline" id="declineCookies">Refuser tous</button>
        </div>
    </div>
</div>

