{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Be-Fit - Application de Calisthenie" />
    <meta name="author" content="Be-Fit" />
    <title>BE-FIT | CALISTHENIE</title>


    <!-- CSS et bibliothèques externes -->
     <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>

      <!-- Checker si ok ou prendre celui du dessus--jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>

    <!--  A verifier si bonne place ici dans base.html ---Font Awesome Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <!-- A verifier si bonne place ici dans base.html --Variable JavaScript globale pour les messages non lus -->
    <script type="text/javascript">
        var unreadMessagesCount = "{{ unread_messages_count|default_if_none:0|escapejs }}";
    </script>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">


    <!-- A verifier si bonne place ici base.html ---Ionicons -->
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module" defer></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" nomodule defer></script>

    <!-- A verifier si bonne place ici dans base.html --Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

     <!-- Styles spécifiques pour bannieres et modal cookies -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">






</head>

<body>
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Bannière Cookies (exclue de /cookies/) -->
    {% if not request.path == '/cookies/' %}
    {% include 'cookie_consent/banner.html' %}
        
    {% endif %}
    {% block extra_css %}
    {% if request.path == '/preferences/' %}
    {% endif %}
    {% endblock %}


    <!-- Messages Flash -->
    <!-- {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %} -->

    <!-- Contenu principal -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bibliothèques externes et scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <script src="{% static 'js/banner.js' %}"></script>
    <script src="{% static 'js/preferences.js' %}" defer></script>

    <script src="{% static 'js/filter.js' %}"></script> <!-- Filtrage des achats entre les plans et les services-->
    <script src="{% static 'js/poppup.js' %}"></script>


<script>
document.getElementById('draft-form').addEventListener('input', function() {
    const subject = document.getElementById('subject').value;
    const body = document.getElementById('body').value;
    const recipientId = document.querySelector('input[name="recipient_id"]').value;

    fetch('{% url "drafts" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ subject, body, recipient_id: recipientId })
    });
});

    </script>
    
</body>
</html>

