{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<br>
<div class="container mt-0">
    <h2 class="text-primary">Tableau de Bord du Coach   *{{ user.first_name }} *</h2>
    
    
    {% include 'navbar_coach.html' %}


    {% block dashboard_content %}
    <!-- Contenu spécifique au tableau de bord du coach -->
    {% endblock %}

</div>

<style>
h2.text-primary {
    font-family: 'Brush Script MT', cursive; /* Choisissez une police calligraphique adaptée */
    font-size: 2.5rem; /* Ajustez la taille selon le rendu souhaité */
    color: #007bff;
}
footer {
    padding: 5px 0; /* Diminuez le padding pour réduire la hauteur */
    font-size: 0.9rem; /* Ajustez la taille de la police si nécessaire */
    line-height: 1.4;
}

.btn-coach-dashboard {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}
.btn-coach-dashboard:hover {
    background-color: #0056b3;
}
.modal-dialog {
    max-width: 600px;
}
.modal-header {
    background-color: #007bff;
    color: white;
}
.modal-title {
    font-weight: bold;
}
footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #000;
        color: #fff;
        padding: 5px 0;
        text-align: center;
        font-size: 0.9rem; /* Ajustez la taille de la police si nécessaire */
        line-height: 1.4;
        
        }
</style>
{% endblock %}