{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center">Mentions Légales</h1>
    <h2>1. Éditeur du site</h2>
    <p>
        <strong>BEFIT S.A.</strong><br>
        Adresse : 18, Place Eugene Simonis, 1081 Bruxelles, Belgique<br>
        Tél. : +32 484 86 01 33<br>
        Email : befit@gmail.com<br>
        Horaires : Du lundi au dimanche, de 07h à 19h
    </p>

    <h2>2. Hébergement</h2>
    <p>
        Le site est hébergé par HostingCompany S.A., Rue du Serveur, 1000 Bruxelles.
    </p>

    <h2>3. Propriété intellectuelle</h2>
    <p>
        Tous les contenus présents sur ce site (textes, images, vidéos, etc.) sont la propriété de BEFIT et sont protégés par les lois 
        sur la propriété intellectuelle.
    </p>

    <h2>4. Responsabilité</h2>
    <p>
        BEFIT ne peut être tenu responsable des dommages directs ou indirects causés par l'utilisation de son site.
    </p>

    <h2>5. Contact</h2>
    <p>
        Pour toute question, vous pouvez nous contacter par email à : <a href="mailto:befit@gmail.com">befit@gmail.com</a> ou par téléphone 
        au +32 484 86 01 33.
    </p>
</div>
{% endblock %}
