{% load i18n %}
<!-- navbar_coach.html -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'coach_dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'newWorkoutSchedule' %}">Planifier Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Commentaires</a>
                </li>
            </ul>
        </div>
    </div>
</nav>