{% load static %}
{% load i18n %}

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4">
        <a class="navbar-brand px-4" href="{% url 'home' %}">BE-FIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{{ _('Accueil') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">{{ _('À propos') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#contact">{{ _('Contact') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#catalog-services">{{ _('Services') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">{{ _('Faq') }}</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto d-flex align-items-center">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">{{ _('Mon profil') }}</a>
                </li>
                <!-- messagerie boite de reception avec chiffre si plus qu un message -->
                <li class="nav-item">
                    <a href="{% url 'messages_inbox' %}" class="nav-link">
                        <i class="fas fa-envelope text-white"></i>
                        <!-- Afficher le badge des messages non lus uniquement si supérieur à 0 -->
                        {% if unread_messages_count > 0 %}
                        <span class="badge badge-danger">{{ unread_messages_count }}</span>
                        {% endif %}
                    </a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link text-success" href="/admin">{{ user.username }} ( {{ _('Admin') }} )</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if not user.is_superuser %}
                    <span class="navbar-text text-primary me-3" title="{{ user.username }}">
                        {{ user.username }}
                    </span>
                    {% endif %}
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">{{ _('Se déconnecter') }}</a>
                </li>
                
                <li class="nav-item">
                    <a href="{% url 'cart:cart_summary' %}" class="btn btn-outline-light btn-sm" type="submit" style="padding: 5px 8px;">
                        <i class="bi-cart-fill me-1"></i> Cart
                        <span class="badge bg-white text-dark ms-1 rounded-pill" id="cart-count">{{ cart|length }}</span>
                    </a>                    
                </li>
                {% endif %}

                <!-- Sélecteur de langue visible pour tous les utilisateurs -->
                <form action="{% url 'set_language' %}" method="post" id="languageForm" class="d-inline-block language-form">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <div class="language-selector">
                        <select name="language" id="languageSelect" class="form-select">
                            <!-- Option par défaut avec drapeau et texte "Votre langue" -->
                            <option value="" disabled selected>🇫🇷 Votre langue</option>
                            <option value="fr" {% if LANGUAGE_CODE == 'fr' %}selected{% endif %}>🇫🇷 FR - {{ _('Votre langue') }}</option>
                            <option value="nl" {% if LANGUAGE_CODE == 'nl' %}selected{% endif %}>🇳🇱 NL - {{ _('Uw taal') }}</option>
                            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>🇬🇧 EN - {{ _('Your language') }}</option>
                        </select>
                    </div>
                </form>
                
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{{ _('Se connecter') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">{{ _('S\'inscrire') }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<style>
    /* Style du sélecteur de langue */
    .language-selector select {
        appearance: none;
        padding: 5px 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        font-size: 14px;
        cursor: pointer;
    }

    /* Bouton Cart plus petit */
.btn-outline-light {
    font-size: 12px; /* Taille du texte du bouton */
    padding: 5px 8px; /* Ajustement de la taille du bouton */
    margin-right: 15px; /* Ajuste l'espacement entre les éléments */
    margin-left: 5px;
}

/* Réduire la taille de l'icône dans le bouton Cart */
.btn-outline-light .bi-cart-fill {
    font-size: 14px; /* Ajuste la taille de l'icône (plus petit) */
}

/* Réduire la taille du badge du chiffre du panier */
#cart-count {
    font-size: 10px; /* Réduit la taille du chiffre */
    padding: 2px 5px; /* Ajuste le padding pour que le badge soit plus petit */
}


    /* Aligner le sélecteur de langue à droite */
    .language-form {
        margin-left: auto; /* Utiliser 'auto' pour pousser le sélecteur vers la droite */
        margin-right: 1px; 
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    /* Espacement entre Cart et le sélecteur de langue */
    .language-selector {
    margin-left: 5px; /* Espace entre le sélecteur de langue et l'élément Cart */
    }

    /* Alignement et espacement général des éléments de la navigation */
    .navbar-nav {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    /* Éviter le chevauchement des éléments */
    .nav-item {
        padding: 5 15px;
        white-space: nowrap; /* Ajouté pour éviter le chevauchement de texte sur une seule ligne */
    }

    /* Alignement de "Equipe_BeFit" et de l'icône Cart */
    .nav-item a.nav-link {
        display: flex;
        align-items: center;
    }

    /* Positionnement de l'icône enveloppe et du badge */
    .nav-item .badge {
        margin-left: 5px;
        font-size: 0.85rem;
    }

    /* Ajustement de la disposition */
    /* décaler les éléments à gauche ou à droite, ajuste les propriétés suivantes */
    /* Exemple : Pour déplacer tous les éléments à gauche de la navbar : */
    .navbar-nav {
        justify-content: flex-start;
    }

    /* Exemple : Pour déplacer tous les éléments à droite de la navbar : */
    /* .navbar-nav {
        justify-content: flex-end;
    } */

    .navbar-text.text-primary {
        color: #007bff; /* Bleu */
    }

    .navbar-text.text-success {
    color: #28a745; /* Vert */
}

    /* Alignement du nom d'utilisateur */
    .navbar-text {
        font-weight: bold;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
