{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Great+Vibes&display=swap" rel="stylesheet">

    <!-- Lier ton fichier CSS principal -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Lier le fichier CSS spécifique à la page si nécessaire -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<div class="container my-5">
    <!-- En-tête du profil avec le statut Premium en haut à droite -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'messages_inbox' %}" class="btn btn-mauve" style="background-color: #076eff;border-color: #000000;"><i class="fas fa-user"></i> <i class="fas fa-envelope text-white"></i> Boîte de Réception <br></a>
    </div><br>
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="text-primary profil-title">Profil de {{ user.first_name }}</h1>
        
        <div class="d-flex align-items-center">
            <!-- Tableau de bord Coach -->
            {% if user.role == 'coach' or user.is_staff %}
                <a href="{% url 'coach_dashboard' %}" class="btn btn-warning btn-coach-dashboard ms-3" style="font-size: 1.2rem; font-weight: bold; background-color: #ffc107; color: #000; border-radius: 0.5rem; padding: 0.6rem 1.5rem; transition: background-color 0.3s ease;">
                    <i class="fas fa-tachometer-alt"></i> Tableau de Bord Coach
                </a>
            {% endif %}
            
            <!-- Tableau de bord Admin -->
            {% if user.is_staff %}
                <a href="{% url 'admin_dashboard' %}" class="btn btn-primary ms-3" style="font-size: 1.2rem; font-weight: bold; background-color: #007bff; color: #fff; border-radius: 0.5rem; padding: 0.6rem 1.5rem; transition: background-color 0.3s ease;">
                    <i class="fas fa-user-shield"></i> Tableau de Bord Admin
                </a>
            {% endif %}
            
            <!-- Bouton pour contacter le staff pour les membres -->
            {% if user.role == 'member' %}
                <a href="{% url 'send_message' staff_id %}" class="btn btn-primary ms-3"><i class="fas fa-users"></i> Contacter le staff</a>
            {% endif %}
            {% if user.role == 'member' %}
                <a href="{% url 'workout_list'  %}" class="btn btn-primary ms-3"><i class="fas fa-calendar-check"></i> Reserver un cours</a>
            {% endif %}
            
            
            <!-- Bouton pour souscrire si l'utilisateur n'est pas premium et n'est pas un administrateur -->
{% if not user.is_premium and not user.is_staff %}
<a href="{% url 'home' %}#nos-offres" class="btn btn-success ms-3">
    <i class="fas fa-file-alt"></i> Souscrire à un Plan
</a>
{% endif %}
</div>
</div>

<!-- Message pour les utilisateurs premium sauf les administrateurs -->
{% if user.is_premium and not user.is_staff %}
<div class="alert alert-success d-flex align-items-center" role="alert" style="font-size: 1.1rem; font-weight: bold;">
    <i class="fas fa-check-circle me-2"></i>
    <span>Vous êtes abonné à un Plan Premium. Profitez pleinement de nos services !</span>
</div>
<br><br>
{% elif not user.is_premium and not user.is_staff %}
<!-- Message pour les utilisateurs non premium (coach et membres) qui n'ont pas encore de plan -->
<div class="d-flex align-items-center">
    <div class="card-text-grey alert-link d-flex align-items-center px-3 py-2" role="alert" style="font-size: 1.1rem; font-weight: bold;">
        <i class="fas fa-exclamation-triangle me-2"></i>
        <span>Vous n'avez aucun Plan actuellement ... </span> <i class="fas fa-file-alt"></i>
    </div>
</div>
<br>


            <!-- Popup de souscription (affiché si show_subscription_popup est True) -->
    {% if show_subscription_popup %}
    <div id="subscriptionPopup">
        <div class="popup-content">
            <img src="{% static 'image/befit_staff.png' %}" alt="Equipe BeFit" class="admin-photo mb-5">
            <h5>Découvrez Tous Nos Services sans plus attendre !</h5>
            <p>Profitez de nos programmes exclusifs et de nos entraînements en souscrivant dès aujourd'hui 😊.</p>
            <div class="button-group">
                <a href="{% url 'home' %}#nos-offres" class="btn btn-primary">Voir nos Offres</a>
                <button id="closePopup" class="btn btn-danger">Fermer</button>
            </div>
        </div>
    </div>    
    {% endif %}
        </div>
        <br>
    {% endif %}
    
    
    <!-- Affichage des membres et des séances passées si coach/admin -->
    <!-- {% if members_with_sessions %}
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h2 class="h5 mb-0">Séances avec les membres</h2>
        </div>
        <div class="card-body">
            <p>Total de séances : {{ total_sessions }}</p>
            <ul class="list-group">
                {% for member in members_with_sessions %}
                    <li class="list-group-item">
                        {{ member.participants__first_name }} {{ member.participants__last_name }} - {{ member.participants__email }}
                        {% if member.participants__is_premium %}
                            <span class="badge bg-success">Premium</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %} -->


    <!-- Informations Personnelles et Photo -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="h5 mb-0"><i class="fas fa-user"></i> Informations Personnelles</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Section Photo -->
                        <div class="col-sm-4 text-center">
                            {% if user.image %}
                                <img src="{{ user.image.url }}" alt="Image du profil" class="img-fluid rounded-circle mb-3 shadow" style="max-width: 150px;">
                            {% else %}
                                <img src="{% static 'images/default-profile.png' %}" alt="Image du profil" class="img-fluid rounded-circle mb-3 shadow" style="max-width: 150px;">
                            {% endif %}
                            <a href="{% url 'edit_profile' %}" class="btn btn-secondary btn-sm">Modifier</a>
                            <a href="{% url 'change_password' %}" class="btn btn-warning">Modifier mon mot de passe</a>
                        </div>
                        <!-- Section Informations -->
                        <div class="col-sm-8">
                            <p><strong>Nom :</strong> {{ user.first_name }} {{ user.last_name }}</p>
                            <p><strong>Email :</strong> {{ user.email }}</p>
                            <p><strong>Téléphone :</strong> {{ user.phone|default:'Non renseigné' }}</p>
                            <p><strong>Adresse :</strong> {{ user.address|default:'Non renseignée' }}</p>
                            <p><strong>Code Postal :</strong> {{ user.postal_code|default:'Non renseigné' }}</p>
                            <p><strong>Membre depuis :</strong> {{ user.date_joined|date:"d M Y" }}</p>
                        </div>
                    </div>
                    <a class="tags"><i class="fas fa-pencil-alt"></i> Modifier mes informations</a>
                </div>
            </div>
        </div>

        <!-- Abonnement Actuel -->
<div class="col-md-6 mb-4">
    <div class="card shadow-lg border-0 rounded-xl">
        <div class="card-header bg-dark text-white">
            <h2 class="h5 mb-0"><i class="fas fa-crown"></i> Abonnement Actuel</h2>
        </div>
        <div class="card-body">
            {% if user.is_staff or user.role == 'coach' %}
                <!-- Affichage "Illimité" pour les admins et les coachs -->
                <div class="vip-plan">
                    <p><strong>Plan :</strong> <span class="vip-plan-text">Illimité <i class="fas fa-infinity vip-infinity-icon"></i></span></p>
                    <p><strong>Date de Début :</strong> {{ current_subscription.start_date|date:"d M Y" }}</p>
                    <p><strong>Durée :</strong> <span class="text-muted">Indéterminée</span></p>
                </div>
            {% elif current_subscription %}
                <!-- Affichage normal pour les autres utilisateurs -->
                <p><strong>Plan :</strong> {{ current_subscription.plan.name }}</p>
                <p><strong>Date de Début :</strong> {{ current_subscription.start_date|date:"d M Y" }}</p>
                <p><strong>Date de Fin :</strong> {{ current_subscription.get_end_date|date:"d M Y" }}</p>
            {% else %}
                <p class="text-muted">Aucun abonnement actif</p>
            {% endif %}
        </div>
    </div>
</div>

    </div>
    <div class="row">
        <!-- Réservations Actuelles -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="h5 mb-0"><i class="fas fa-calendar-check"></i> Réservations Actuelles</h2>
                </div>
                <div class="card-body">
                    {% if scheduleWorkout %}
                        <ul class="list-group">
                            {% for schedule in scheduleWorkout %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="text-primary">{{ schedule.workout.title }}</h5>
                                    <p><strong>Coach:</strong> {{ schedule.coach.get_full_name }}</p>
                                    <p><strong>Date et Heure:</strong> {{ schedule.start_time|date:"d M Y H:i" }}</p>
                                </div>
                                <div class="text-right">
                                    {% if schedule.expired %}
                                        <span class="badge bg-danger">Expirée</span>
                                    {% else %}
                                        <span class="badge bg-success">Active</span>
                                        <p class="text-success mt-2" style="font-weight: bold;">{{ schedule.participants.count }}/10 inscrits</p>
                                    {% endif %}
                                    <!-- Bouton pour ouvrir le modal d'annulation -->
                                    <button class="btn btn-danger btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#cancelModal{{ schedule.id }}">
                                        Annuler
                                    </button>
                                </div>
                            </li>

                            <!-- Modal d'annulation de réservation -->
                            <div class="modal fade" id="cancelModal{{ schedule.id }}" tabindex="-1" aria-labelledby="cancelModalLabel{{ schedule.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cancelModalLabel{{ schedule.id }}">Confirmation d'annulation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% if schedule.can_cancel %}
                                                Êtes-vous sûr de vouloir annuler cette réservation pour <strong>{{ schedule.workout.title }}</strong> ?
                                            {% else %}
                                                Vous ne pouvez annuler une réservation que 24h avant la séance. Pour plus d'informations, veuillez consulter notre <a href="{% url 'faq' %}">FAQ</a>.
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            {% if schedule.can_cancel %}
                                                <a href="{% url 'cancel_reservation' schedule.id %}" class="btn btn-danger">Confirmer l'annulation</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted text-center">Vous n'avez aucune séance réservée.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Historique des Réservations -->
<div class="col-md-6 mb-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="h5 mb-0"><ion-icon name="time-outline"></ion-icon> Historique des Réservations</h2>
        </div>
        <div class="card-body">
            {% if pastscheduleWorkout %}
                <ul class="list-group">
                    {% for schedule in pastscheduleWorkout %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="text-primary">{{ schedule.workout.title }}</h5>
                            <p><strong>Coach:</strong> {{ schedule.coach.get_full_name }}</p>
                            <p><strong>Date et Heure:</strong> {{ schedule.start_time|date:"d M Y H:i" }}</p>
                        </div>
                        <span class="badge bg-danger">Expirée</span>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted text-center">Aucun historique de réservations.</p>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>

<!-- Historique des Achats -->
<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h2 class="h5 mb-0"><ion-icon name="time-outline"></ion-icon> Historique des Achats</h2>
            <!-- Filtre pour afficher les achats -->
            <div>
                <select id="purchaseFilter" class="form-select form-select-sm" style="width: auto; padding-right: 2.5rem;">
                    <option value="all">Tous</option>
                    <option value="plans">Plans</option>
                    <option value="services">Services</option>
                </select>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Colonne Plans -->
                <div class="col-md-6" id="planPurchases">
                    <h5 class="text-center fw-bold mb-4">Vos Plans Achetés</h5>
                    {% if plan_purchases %}
                        <ul class="list-group">
                            {% for purchase in plan_purchases %}
                                <li class="list-group-item d-flex align-items-center">
                                    <!-- Icône pour Plan -->
                                    <ion-icon name="document-text-outline" class="icon me-3" style="color: #007bff;"></ion-icon>
                                    <!-- Commentaire : remplacer par image
                                    <img src="{% static 'images/plan_icon.png' %}" alt="Plan Icon" class="icon me-3"> -->
                                    <div>
                                        <strong class="text-primary">{{ purchase.get_item_name }}</strong> - <span class="text-success">{{ purchase.price }}€</span>
                                        <p class="text-muted mb-1">Acheté le : {{ purchase.purchase_date|date:"d M Y" }}</p>
                                        <p><strong>Durée :</strong> {{ purchase.get_duration }} jours</p>
                                        <p><strong class="text-danger">Date d'échéance :</strong> {{ purchase.get_end_date|date:"d M Y" }}</p>
                                        <a href="{% url 'download_invoice' purchase.id %}" class="link-pdf">Télécharger la facture en PDF</a> <!-- Lien stylisé pour PDF -->
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted text-center">Aucun plan acheté.</p>
                    {% endif %}
                </div>

                <!-- Colonne Services -->
                <div class="col-md-6" id="servicePurchases">
                    <h5 class="text-center fw-bold mb-4">Vos Services Achetés</h5>
                    {% if service_purchases %}
                        <ul class="list-group">
                            {% for purchase in service_purchases %}
                                <li class="list-group-item d-flex align-items-center">
                                    {% if purchase.catalog_service.type == 'diet_plan' %}
                                        <!-- Icône pour Diet Plan -->
                                        <ion-icon name="nutrition-outline" class="icon me-3" style="color: #28a745;"></ion-icon>
                                        <!-- Commentaire : remplacer par image
                                        <img src="{% static 'images/diet_plan_icon.png' %}" alt="Diet Plan Icon" class="icon me-3"> -->
                                    {% elif purchase.catalog_service.type == 'personalized_coaching' %}
                                        <!-- Icône pour Coaching -->
                                        <ion-icon name="person-circle-outline" class="icon me-3" style="color: #ff8c00;"></ion-icon>
                                        <!-- Commentaire : remplacer par image
                                        <img src="{% static 'images/coaching_icon.png' %}" alt="Coaching Icon" class="icon me-3"> -->
                                    {% else %}
                                        <!-- Icône par défaut pour autre service -->
                                        <ion-icon name="construct-outline" class="icon me-3" style="color: #6c757d;"></ion-icon>
                                        <!-- Commentaire : remplacer par image
                                        <img src="{% static 'images/default_service_icon.png' %}" alt="Default Service Icon" class="icon me-3"> -->
                                    {% endif %}
                                    <div>
                                        <strong class="text-primary">{{ purchase.get_item_name }}</strong> - <span class="text-success">{{ purchase.price }}€</span>
                                        <p class="text-muted mb-1">Acheté le : {{ purchase.purchase_date|date:"d M Y" }}</p>
                                        {% if purchase.catalog_service.type == 'diet_plan' or purchase.catalog_service.type == 'personalized_coaching' %}
                                            <p><strong>Durée :</strong> {{ purchase.get_duration }} jours</p>
                                        {% endif %}
                                        <a href="{% url 'download_invoice' purchase.id %}" class="link-pdf">Télécharger la facture en PDF</a> <!-- Lien stylisé pour PDF -->
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted text-center">Aucun service acheté.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
