from datetime import datetime, timedelta
from django.utils import timezone
from django.contrib import admin
from django import forms
from .models import User, Workout, Booking, Coach, Location, Plan, Subscription, Review, WorkoutImage, WorkoutSchedule

class UserAdmin(admin.ModelAdmin):
    list_display = ['id', 'username', 'role', 'last_name', 'first_name', 'birth_date', 'email', 'phone', 'address', 'postal_code', 'is_premium', 'social_url', 'date_joined']
    list_filter = ['role', 'is_premium']
    search_fields = ['username', 'first_name', 'last_name', 'email']

class WorkoutAdminForm(forms.ModelForm):
    class Meta:
        model = Workout
        fields = '__all__'

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        # Filtrer les coachs basés sur les spécialités du workout
        if self.instance.pk:
            self.fields['coachs'].queryset = self.instance.specialties.all()

class WorkoutImageInline(admin.TabularInline):
    model = WorkoutImage
    extra = 1

class WorkoutAdmin(admin.ModelAdmin):
    form = WorkoutAdminForm
    list_display = ['id', 'title', 'description', 'duration', 'available', 'created_at', 'location']
    list_filter = ['available', 'location']
    search_fields = ['title', 'description']
    filter_horizontal = ['coachs']
    inlines = [WorkoutImageInline]

    def save_model(self, request, obj, form, change):
        super().save_model(request, obj, form, change)
        if not change:  # Only create schedules on creation, not update
            create_default_workout_schedules(obj)

class WorkoutScheduleForm(forms.ModelForm):
    class Meta:
        model = WorkoutSchedule
        fields = '__all__'

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        # Filtrer les utilisateurs pour ne montrer que ceux avec le rôle 'coach'
        self.fields['coach'].queryset = User.objects.filter(role='coach')

class WorkoutScheduleAdmin(admin.ModelAdmin):
    form = WorkoutScheduleForm  # Utiliser le formulaire personnalisé
    list_display = ['id', 'workout', 'start_time', 'end_time', 'location', 'coach']
    list_filter = ['start_time', 'location', 'coach']
    search_fields = ['workout__title', 'coach__username', 'location__name']

# Fonction pour créer les créneaux horaires par défaut pour un Workout donné
def create_default_workout_schedules(workout):
    # Définir les heures fixes pour chaque jour de la semaine
    heures_fixes = [
        (8, 10),
        (10, 12),
        (14, 16),
        (16, 18),
    ]

    # Vérifier s'il y a des coachs assignés au workout
    if not workout.coachs.exists():
        raise ValueError("Le workout doit avoir au moins un coach assigné.")

    # Créer les créneaux pour chaque jour de la semaine
    for day in range(6):  # Du lundi au samedi
        date = timezone.now().date() + timedelta(days=day)  # Calculer la date pour chaque jour
        for start_hour, end_hour in heures_fixes:
            start_time = datetime.combine(date, datetime.min.time()) + timedelta(hours=start_hour)
            end_time = datetime.combine(date, datetime.min.time()) + timedelta(hours=end_hour)
            WorkoutSchedule.objects.create(
                workout=workout,
                start_time=timezone.make_aware(start_time, timezone.get_current_timezone()),  # Convertir en timezone aware
                end_time=timezone.make_aware(end_time, timezone.get_current_timezone()),  # Convertir en timezone aware
                location=workout.location,
                coach=workout.coachs.first()  # Sélectionner le premier coach par défaut
            )


class BookingAdminForm(forms.ModelForm):
    class Meta:
        model = Booking
        fields = '__all__'

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.fields['participants'].required = False  # Rendre non obligatoire le champ participants
        self.fields['coach'].queryset = User.objects.filter(role='coach')  # Afficher uniquement les coachs dans la liste déroulante
        
        # Filtrer coach et location uniquement si un schedule est déjà sélectionné
        if self.instance.pk and self.instance.schedule_id:
            # Filtrer les coachs en fonction du workout de l'horaire
            self.fields['coach'].queryset = self.instance.schedule.workout.coachs.all()
            # Filtrer les locations en fonction de l'horaire
            self.fields['location'].queryset = Location.objects.filter(id=self.instance.schedule.location.id)
        else:
            self.fields['coach'].queryset = User.objects.filter(role='coach')
            self.fields['location'].queryset = Location.objects.all()

class BookingAdmin(admin.ModelAdmin):
    form = BookingAdminForm
    list_display = ['id', 'get_workout_title', 'datetime', 'available', 'location']
    filter_horizontal = ['participants']

    def get_workout_title(self, obj):
        return obj.schedule.workout.title
    get_workout_title.short_description = 'Workout'

    def save_model(self, request, obj, form, change):
        if not change and obj.schedule:  # Lors de la création, assigner automatiquement un coach en fonction de la spécialité
            possible_coaches = Coach.objects.filter(specialties=obj.schedule.workout)
            if possible_coaches.exists():
                obj.coach = possible_coaches.first().user  # Assigner le premier coach disponible
        super().save_model(request, obj, form, change)

class CoachAdmin(admin.ModelAdmin):
    list_display = ['id', 'username', 'user', 'available', 'exp']
    filter_horizontal = ['specialties']
    search_fields = ['username', 'user__username']

class LocationAdmin(admin.ModelAdmin):
    list_display = ['id', 'name', 'address', 'city', 'state', 'postal_code']

class PlanAdmin(admin.ModelAdmin):
    list_display = ['id', 'name', 'is_available', 'description', 'price', 'duration', 'image']

class SubscriptionAdmin(admin.ModelAdmin):
    list_display = ['id', 'user', 'plan', 'start_date', 'payment_status']

class ReviewAdmin(admin.ModelAdmin):
    list_display = ['id', 'user', 'workout', 'content']

admin.site.register(User, UserAdmin)
admin.site.register(Workout, WorkoutAdmin)
admin.site.register(WorkoutImage)
admin.site.register(Booking, BookingAdmin)
admin.site.register(Coach, CoachAdmin)
admin.site.register(Location, LocationAdmin)
admin.site.register(Plan, PlanAdmin)
admin.site.register(Subscription, SubscriptionAdmin)
admin.site.register(Review, ReviewAdmin)
admin.site.register(WorkoutSchedule, WorkoutScheduleAdmin)
