{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!DOCTYPE html>
<head>
    <!-- Lier ton fichier CSS principal -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Lier le fichier CSS spécifique à la page si nécessaire -->
    <link rel="stylesheet" href="{% static 'css/service_detail.css' %}">
</head>

<div id="product-options" class="container mt-5">
    <h3 class="section-title">{% trans "Choisissez une option :" %}</h3>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group product-list">
                {% for image in service_data.images %}
                <li class="list-group-item d-flex align-items-center product-item">
                    <input type="radio" name="selected_product" value="{{ image.id }}" id="product_{{ image.id }}" 
                           data-price="{{ image.price }}" {% if forloop.first %}checked{% endif %} class="product-radio">
                    <label for="product_{{ image.id }}" class="d-flex align-items-center product-label">
                        <img src="{{ image.image.url }}" alt="Image de {{ service_data.service.name }}" class="product-image">
                        <div class="product-info">
                            <p class="product-description">{{ image.description|truncatewords:15 }}</p>
                            <span class="product-price">Prix : {{ image.price }}€</span>
                        </div>
                    </label>
                </li>                
                {% endfor %}
            </ul>
        </div>
        
        <div class="col-md-6">
            <h1 class="display-5 fw-bold text-primary">{{ service_data.service.name }}</h1>
            <p class="lead">{{ service_data.service.description }}</p>
            
            {% if service_data.type != 'gym_accessory' and service_data.service.duration %}
                <p><strong>{% trans "Durée" %} :</strong> {{ service_data.service.duration }} {% trans "jours" %}</p>
            {% endif %}
            
            {% if service_data.type == 'diet_plan' %}
                <p><strong>{% trans "Partenaire" %} :</strong> <a href="{{ service_data.partner_company }}" target="_blank" class="text-decoration-none">{{ service_data.partner_company }}</a></p>
            {% elif service_data.type == 'gym_accessory' and request.user.is_staff %}
                <!-- <div class="rupture-de-stock-banner"> -->
                    <!-- <p><strong>{% trans " Nouveaux Stock" %} </strong></p>  -->
                    <!-- <p><strong>{% trans "De Stock" %} :</strong> {{ service_data.stock }}</p>  -->
                    <!-- <a href="/commander" class="btn-commander">{% trans "Commander" %}</a> -->
                <!-- </div> -->
            {% elif service_data.type == 'personalized_coaching' %}
                <p><strong>{% trans "Coach" %} :</strong> {{ service_data.coach.username }}</p>
            {% endif %}
            
            <a  id="addToCartLink" class="btn btn-lg btn-primary mt-1 px-1 py-1" style= "font-size: 15px;"><i class="bi-cart-fill me-1"></i>Ajouter au panier</a>
            <button type="button" class="btn btn-lg btn-primary mt-1 px-1 py-1"  data-bs-toggle="modal" data-bs-target="#paiementModal" style=  "font-size: 14px; background-color: rgb(13, 161, 0);">
                <i class="bi bi-credit-card me-2"></i>Confirmer et Payer
            </button>
            <a href="{% url 'home' %}#catalog-services" class="btn btn-lg btn-secondary mt-1 px-1 px-4 py-1"style= "font-size: 15px;">Retour aux services</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal de paiement -->
<div class="modal fade" id="paiementModal" tabindex="-1" aria-labelledby="paiementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paiementModalLabel">{% trans "Détails du paiement" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% trans "Êtes-vous sûr de vouloir procéder au paiement pour" %} <strong>{{ service_data.service.name }}</strong> ?</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'cart:checkout_session' %}" class="btn btn-primary">{% trans "PAYER" %}</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Annuler" %}</button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const addToCartLink = document.getElementById('addToCartLink');
    const productRadios = document.querySelectorAll('input[name="selected_product"]');

    const updateCartLink = () => {
        const selectedProduct = document.querySelector('input[name="selected_product"]:checked');
        if (selectedProduct) {
            const price = selectedProduct.dataset.price;
            addToCartLink.href = `{% url 'cart:cart_add_service' service_data.service.id %}?image_id=${selectedProduct.value}`;
        }
    };

    productRadios.forEach(radio => {
        radio.addEventListener('change', updateCartLink);
    });

    addToCartLink.addEventListener('click', event => {
        event.preventDefault();
        fetch(addToCartLink.href, { method: 'GET', headers: { 'X-Requested-With': 'XMLHttpRequest' } })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    // Rafraîchir le panier
                    location.reload();
                } else {
                    alert("{% trans 'Erreur lors de l\'ajout au panier' %}");
                }
            })
            .catch(() => alert("{% trans 'Une erreur s\'est produite, veuillez réessayer.' %}"));
    });

    updateCartLink();
});

</script>

{% endblock %}


