{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-5 text-primary" style="font-weight: bold; text-transform: uppercase;">
        Nos Workouts
    </h2>
    <div class="row">
        {% for workout in workouts %}
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-lg rounded" style="border-radius: 15px;">
                <!-- Image du workout -->
                <div class="card-img-top" style="height: 300px; overflow: hidden; border-radius: 15px 15px 0 0;">
                    {% for image in workout.images.all %}
                        <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.description }}" 
                             style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                    {% endfor %}
                </div>
                
                <!-- Détails du workout -->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center text-primary" style="font-weight: bold;">{{ workout.title }}</h5>
                    <p class="card-text text-muted text-center" style="font-style: italic;">{{ workout.description|truncatewords:70 }}</p>
                    <a href="{% url 'workout_detail' workout.pk %}" class="btn btn-outline-primary mt-auto" style="border-radius: 25px;">
                        Voir les détails
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Styles personnalisés pour embellir les éléments -->
<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-title {
        font-size: 1.3rem;
    }
    .card-text {
        font-size: 1rem;
    }

    .card-img-top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<br/><br/><br/><br/>
{% endblock %}
