{% extends 'base.html' %}

{% load static %}

{% block content %}

<header class="bg-dark py-5"
    style="background-image: url('/media/background_images/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 text-center my-5"
                style="background-color: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 10px;">
                <h1 class="display-4 fw-bold text-white mb-2">BE-FIT - SHOPPING CART</h1>
                <p class="lead text-white-50 mb-4">Restez en forme</p>
            </div>
        </div>
    </div>
</header>

<!-- Nos Workouts Section -->
<section id="workouts" class="py-5 bg-light">
<h2>mon panier ici</h2>    
</section>





{% endblock %}
